API=https://www.zhihu.com/api/v4    # 知乎 API 地址，通常来说这不用修改

COOKIE_A="__utmz=; ... ; BEC=" # 填写你的知乎 Cookie
ACCOUNTS=[{"name": "GGapa", "slug": "ggapa", "cookie_key": "COOKIE_A"}]     
# 如果要多知乎个账号，就继续加
# ACCOUNTS=[{"name": "GGapa", "slug": "ggapa", "cookie_key": "COOKIE_A"}, {"name": "Jarrett Ye", "slug": "jarrett", "cookie_key": "COOKIE_B"}]
# COOKIE_A="__utmz=; ... ; BEC=" 
# COOKIE_B="__utmz=; ... ; BEC=" 

# 此处仅用于本地调试，请修改 build-and-deploy.yml 中的配置
# GITHUB_USER=GGapa       # 你的 Github 账号名
# REPO_NAME=ZhiHuArchive      # 你的 Github 仓库名
# SITE_TITLE=GGapa 的知乎备份     # 你的站点名
# SITE_DESCRIPTION=GGapa 的知乎文章和回答备份目录     # 你的站点描述，用于搜索引擎
